*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{width: 200px;
height: auto;}
body{
    display: flex;
    align-self: center;
min-height: 100vh;
justify-content: center;
background-color: aliceblue;

}
.container{position: relative;
max-width: 100%;
display: grid;
grid-template-columns: repeat(auto-fill,minmax(300px, 1fr)) ;
grid-template-rows:minmax(100px,auto) ;
margin: 40px;
grid-gap:10px;
grid-auto-flow: dense;
}

.container .box{
    background-color: rgb(184, 144, 184);
    color: white;
    padding:20px;
    display: grid;
    font-size: 20px;
    place-items: center;
    text-align: center;
    transition: 0.5s;

}

.container .box:hover{background:linear-gradient(to right,rgb(185, 30, 108),rgb(238, 61, 149)) ;}


.container .box img{

position: relative;
max-width: 100px;
margin-bottom: 10px;

}

.container .box:nth-child(1){
    grid-column: span 2;
    
}

.container .box:nth-child(2){
    grid-row: span 2;
    
}


.container .box:nth-child(3){
    
    grid-column: span 1;
}

.container .box:nth-child(4){
    
    grid-column: span 2;
    grid-row: span 2;
}


.container .box:nth-child(6){
    
    grid-column: span 2;
   
}

@media (max-width:991px)
{

    .container{position: relative;
        
        grid-template-columns: repeat(auto-fill,minmax(50%, 1fr)) ;
        grid-template-rows:minmax(auto,auto) ;
       
        }

        .container .box{
            grid-column:unset !important;
            grid-row:unset !important;
        }

}












